@charset "UTF-8";
* {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#ulist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#ulist li {
  /* width: 110px;
    height: 112px; */
  padding: 8px;
}

#ulist li img {
  width: 150px;
  height: 150px;
}

#ulist li button {
  border: none;
}

.modal-content {
  padding: 18px 15px;
  /* overflow: hidden;
    overflow-y: scroll;
    height: 371px; */
  box-shadow: 3px 3px 0 #000;
  border: 1px solid #000;
  border-radius: 6px;
  transition: opacity, filter 0.1s ease-in-out;
}

button.close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 3;
  border-radius: 15px;
  width: 27px;
  height: 27px;
  display: inline-flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.btn-search {
  color: #525252;
  background-color: #ccc;
  border-color: #ccc;
  border-radius: 20px;
  width: 108px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

.grey {
  color: #0a0a0a;
  background-color: #ccc;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  font-family: Medium;
  padding: 0 30px;
  height: 40px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 20px;
}

.btn-boder {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 20px;
  min-width: 100px;
  color: #0a0a0a;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  font-family: Medium;
  padding: 0 30px;
  height: 40px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.close {
  margin-right: 0px;
  border-radius: 28px;
  background: #ababab;
  right: 8px;
  top: 23px;
  align-items: center;
}

.btn-primary {
  margin-bottom: 10px;
}

* {
  /*reset all m and p to 0*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-header {
  display: inline-block;
  width: 100%;
  height: 70px;
  background: #3399ff;
}

.logo {
  width: 136px;
  margin-top: -6px;
}

.menu {
  display: block;
  text-align: center;
  margin-top: -40px;
}

.menu li {
  display: inline-block;
  vertical-align: super;
  margin-right: 25px;
  color: #fff;
  font-size: 20px;
}

.menu li:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.admin a {
  color: #fff;
}

/*body  */

.content {
  /* background-color: gainsboro; */
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: unset;
  font-size: 45px;
  padding-top: 1rem;
}

.container h2 {
  font-family: sans-seri;
}

.container p {
  text-align: center;
}

/* upload-image */

.upload {
  height: auto;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container-1 {
  height: 450px;
  width: 450px;
  border-radius: 10px;
  margin: auto;
  background-color: #cae1ff;
}

.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  padding-top: 10px;
}

.img-holder {
  margin: auto;
  width: 255px;
  height: 255px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: black;
  color: #ffff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  padding-top: 6px;
}

.search {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.search span {
  background-color: #3399ff;
  color: #ffff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 40px;
  padding-top: 6px;
}

/* icon */

.icon {
  /* background-color: #f7f7f7; */
  background-color: gainsboro;
}

.icon-1 {
  margin: 0 auto;
  padding: 30px 10px;
  text-align: center;
}

.icon-1 ul li {
  display: inline-block;
  margin-left: 63px;
  text-align: center;
}

.icon-1 ul li p {
  font-size: 20px;
  margin-top: 15px;
}

/* footer */

.footer {
  background-color: #0f0f0f;
  width: 100%;
  margin: 0 auto 0;
  display: inline-block;
  padding: 22px 10px 10px;
  padding-bottom: 35px;
}

.footer-1 {
  max-width: 1078px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: Book, Trebuchet MS, Arial, sans-serif;
  font-size: 15px;
}

.logo1 {
  width: 220px;
  margin-top: 20px;
  margin-left: 15px;
}

.footer-right {
  float: right;
  margin-top: 32px;
}

.footer-right ul li {
  color: #8e8e8e;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
}

.footer-2 {
  max-width: 1078px;
  margin: 0 auto;
  border-top: 1px solid #464646;
  color: #8e8e8e;
  padding-top: 10px;
  font-size: 13px;
}

.footer-2 span {
  display: inline block;
}

.footer-right1 {
  float: right;
}

.footer-right1 a {
  margin-left: 8px;
}

@media only screen and (max-width: 690px) {
  .footer {
    max-width: 690px;
  }
  .logo1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  .footer-right {
    text-align: center;
    display: contents;
  }
  .footer-2 {
    max-width: 690px;
    display: grid;
    text-align: center;
  }
  .footer-2 span {
    /* text-align: center;
        display: block; */
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* css của thảo */

* {
  /*reset all m and p to 0*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-header {
  display: inline-block;
  width: 100%;
  height: 70px;
  background: #3399ff;
}

.logo {
  width: 136px;
  margin-top: -6px;
}

.menu {
  display: block;
  text-align: center;
  margin-top: -40px;
}

.menu li {
  display: inline-block;
  vertical-align: super;
  margin-right: 25px;
  color: #fff;
  font-size: 20px;
}

.menu li:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.admin_true {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: -65px;
  margin-right: 50px;
  font-size: 20px;
  position: relative;
  padding: 6px;
}

.admin_true button i {
  padding-left: 6px;
}

.admin {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: -60px;
  margin-right: 50px;
  font-size: 20px;
  position: relative;
  padding: 6px;
  text-decoration: none !important;
}

._login {
  margin-right: 10px;
}

._dk {
  margin-left: 10px;
}

._login::after {
  content: '';
  display: inline-block;
  background-color: #eaeaea;
  width: 2px;
  height: 23px;
  margin: 0 10px;
  position: absolute;
  bottom: 8px
}

.admin a {
  color: #fff;
  text-decoration: none !important;
}

/*body  */

.content {
  /* background-color: gainsboro; */
  padding-bottom: 3rem;
  background-color: #f7f7f7;
  height: 100%;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: unset;
  font-size: 45px;
  padding-top: 1rem;
}

.container h2 {
  font-family: sans-seri;
}

.container p {
  text-align: center;
}

/* upload-image */

.upload {
  height: auto;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container-1 {
  height: 450px;
  width: 450px;
  border-radius: 10px;
  margin: auto;
  background-color: #cae1ff;
}

.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  padding-top: 10px;
}

.img-holder {
  margin: auto;
  width: 255px;
  height: 255px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: black;
  color: #ffff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  padding-top: 6px;
}

.search {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.search span {
  background-color: #3399ff;
  color: #ffff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 40px;
  padding-top: 6px;
}

/* icon */

.icon {
  /* background-color: #f7f7f7; */
  background-color: gainsboro;
}

.icon-1 {
  margin: 0 auto;
  padding: 30px 10px;
  text-align: center;
}

.icon-1 ul li {
  display: inline-block;
  margin-left: 63px;
  text-align: center;
}

.icon-1 ul li p {
  font-size: 20px;
  margin-top: 15px;
}

/* footer */

.footer {
  background-color: #0f0f0f;
  width: 100%;
  margin: 0 auto 0;
  display: inline-block;
  padding: 22px 10px 10px;
  padding-bottom: 35px;
}

.footer-1 {
  max-width: 1078px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: Book, Trebuchet MS, Arial, sans-serif;
  font-size: 15px;
}

.logo1 {
  width: 220px;
  margin-top: 20px;
  margin-left: 15px;
}

.footer-right {
  float: right;
  margin-top: 32px;
}

.footer-right ul li {
  color: #8e8e8e;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
}

.footer-2 {
  max-width: 1078px;
  margin: 0 auto;
  border-top: 1px solid #464646;
  color: #8e8e8e;
  padding-top: 10px;
  font-size: 13px;
}

.footer-2 span {
  display: inline block;
}

.footer-right1 {
  float: right;
}

.footer-right1 a {
  margin-left: 8px;
}

@media only screen and (max-width: 690px) {
  .footer {
    max-width: 690px;
  }
  .logo1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  .footer-right {
    text-align: center;
    display: contents;
  }
  .footer-2 {
    max-width: 690px;
    display: grid;
    text-align: center;
  }
  .footer-2 span {
    /* text-align: center;
        display: block; */
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/*  */

/* list-profile */

.list {
  display: flex;
  padding-top: 35px;
}

.img-larger {
  width: 250px;
  height: 250px;
  margin: auto;
}

.list-human {
  display: grid;
  padding-top: 30px;
}

.img-small {
  width: 120px;
  height: 120px;
  margin-top: 8px;
}

.table-condensed {
  width: 800px;
  margin: auto;
}

.cart-menu {
  background: #3399ff;
  color: #fff;
  font-size: 16px;
  height: 40px;
  text-align: center;
}

.detail p {
  text-align: center;
}

/*  */

/* DETAIL */

.detail {
  /* display: inline-block; */
  width: 100%;
  margin: auto;
  display: contents;
}

.wapper {
  margin: auto;
  width: fit-content;
  display: flex;
  padding: 30px;
}

.img-detail {
  width: 250px;
  margin: auto;
}

.info {
  display: inline-block;
}

/*  */

/* USERPRODFILE */

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #68b3c8;
  color: white;
}

.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;
}

.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: red;
}

/* DASHBOARD */

.menu-left {
  color: gray;
  font-size: 15px;
  margin-left: 32px;
  text-transform: uppercase;
  font-family: "Material Icons";
  text-decoration: none !important;
}

.metismenu li {
  margin-bottom: 40px;
}

.metismenu li h2 {
  text-align: center;
  color: black;
  padding-bottom: 14px;
  font-family: "Font Awesome 5 Free";
}

.metismenu li h2:after {
  content: "";
  width: 13%;
  position: absolute;
  left: 28px;
  bottom: 580px;
  border-bottom: 2px solid rgba(102, 97, 91, 0.3);
}

.left-side-menu {
  border: 2px solid #f7f7f0;
  /* margin-bottom: 35px; */
  padding-bottom: 20px;
  padding-top: 15px;
  width: fit-content;
  /* margin-top: 40px; */
}

/* ADMIN */

.col-12 {
  background-color: white;
  padding: 8px;
}

.breadcrumb {
  background-color: white;
  float: right;
}

.page-title {
  padding: 5px;
  margin-left: 20px;
}

.row {
  padding: 19px;
}

.card-box {
  background-color: #fff;
  padding: 1.25rem;
  display: flex;
  margin-bottom: 24px;
  border-radius: 0.25rem;
}

.body {
  min-height: 520px;
}