.bg-image {
    background-image: url('/images/nen.png');
    background-size: cover;
    background-position: center center;
    height:600px;
}
.lienket{
    display: flex;
    justify-content: space-evenly;
    margin-top:34px;
}
.btn_rsmk{
    height:34px;
    margin-top:40px;
}
.btn_rsmk button{
    float: right;
}
#check_newpassword{
    margin-top: 26px;
}
.text_tb{
    color: red;
    float: right;
    margin-bottom:6px;
    display:none;
}
#tb_tong_rsmk{
    padding: 0px;
    border-radius: 10px !important;
    margin: 0px 20px 14px 20px;
    text-align: center;
    display: none;  
}