a {
    text-decoration: none;
}



.main {
    background-color: #e9ebee;
    box-shadow: 0px 8px 30px #1d2d4f;
    border-radius: 4px;
    overflow: hidden;
    padding: 12px;
}

#profile-upper {
    position: relative;
}

#profile-d {
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
}

#profile-banner-image {
    height: 360px;
    overflow: hidden;
    z-index: 1;
}

#profile-banner-image img {
    width: 100%;
    margin-top: -20%;
}

#profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 3px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
}

#profile-pic img {
    width: 100%;
}

#u-name {
    position: absolute;
    top: 120px;
    left: 208px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#black-grd {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0.53));
    z-index: 1;
}

#main-content {
    padding: 55px 0px 0px 55px;
}

/* css thêm */
.tong__tong {
    margin: 0;
    padding: 0;
}

#l-col {
    padding-left: 0;
}

.anhbia {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 360px;
}

.app_details {
    margin: 20px 0;
}

.anh_daidien {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 180px;
}

.khoi__ {
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    margin: 0 0 20px 0;
}

.bgrim__ {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    margin: 3px;
}

.tong_anh__, .tong_anh_row, .tong_anh_col {
    margin: 0;
    padding: 0;
}

.tong_anh__ {
    max-height: 380px;
    overflow: overlay;
}

.tong_anh__::-webkit-scrollbar {
    display: none;
}

.tong_tieude_a {
    padding: 10px 0 10px 16px;
    font-size: 22px;
    font-weight: 600;
    color: #7e7e7e;
}

.tong_tieude_a i {
    color: #62b160;
}

/* phải */

.post__ {
    max-height: 1339px;
    overflow: overlay;
}

.post__::-webkit-scrollbar {
    display: none;
}

.txt_details {
    text-align: center;
}

.txt_details h6 {
    font-size: 42px;
    font-weight: 600;
    color: #547fde;
}

.txt_details span {
    color: #85a8f3;
}

.avt__ {
    margin-bottom: 0;
}

.post_post {
    transition: all 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.post_post:hover {
    animation:nextarrow 3s ease;
}

@keyframes nextarrow {
    10% {
        transform:rotate(1deg);
    }

    100% {
        transform:rotate(-3deg);
    }
}
.bgrim__{
    transition: all 0.3s ease;
}
.bgrim__:hover {
    transform: scale(1.01);
    z-index: 88888;
}

/*  */
/*------------------------------------*\ MATERIAL PHOTO GALLERY \*------------------------------------*/
.m-p-g, .m-p-g_1 {
    max-width: 100%;
    margin: 0 auto;
}

.m-p-g__thumbs-img {
    vertical-align: bottom;
    cursor: pointer;
    position: relative;
    filter: brightness(100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: opacity, transform;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__thumbs-img.active {
    z-index: 50;
}

.m-p-g__thumbs-img.layout-completed {
    opacity: 1;
}

.m-p-g__thumbs-img.hide {
    opacity: 0;
}

.m-p-g__thumbs-img:hover {
    filter: brightness(110%);
}

.m-p-g__fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
    will-change: background, visibility;
    backface-visibility: hidden;
}

.m-p-g__fullscreen.active {
    transition: background 0.25s ease-out, visibility 0.01s 0s linear;
    visibility: visible;
    background: rgba(0, 0, 0, 0.95);
}

.m-p-g__fullscreen-img {
    pointer-events: none;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    visibility: hidden;
    will-change: visibility;
    transition: opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.active {
    visibility: visible;
    opacity: 1 !important;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.almost-active {
    opacity: 0;
    transform: translate3d(0, 0, 0) !important;
}

.m-p-g__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 20vh;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__controls.active {
    opacity: 1;
    visibility: visible;
}

.m-p-g__controls-close, .m-p-g__controls-arrow {
    appearance: none;
    border: none;
    background: none;
}

.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
    outline: none;
}

.m-p-g__controls-arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.m-p-g__controls-arrow:hover {
    opacity: 1;
}

.m-p-g__controls-arrow--prev {
    left: 0;
    padding-left: 3vw;
    justify-content: flex-start;
}

.m-p-g__controls-arrow--next {
    right: 0;
    padding-right: 3vw;
    justify-content: flex-end;
}

.m-p-g__controls-close {
    position: absolute;
    top: 3vh;
    left: 3vw;
    z-index: 5;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.m-p-g__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    transition: all 0.25s ease-out;
}

.m-p-g__btn:hover {
    background: rgba(255, 255, 255, 0.15);
}

.m-p-g__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    color: grey;
}

.m-p-g__alertBox h2 {
    color: red;
}

.ngaysinh_details i, .gioitinh__details i, .address_details i, .like_details i {
    margin: 0px 14px 0 0px;
    color: #2b5f3b;
}

.ngaysinh_details, .gioitinh__details, .address_details, .like_details {
    font-size: medium;
    margin: 10px 0;
    font-family: revert;
    color: #8f8f8f;
    display: flex;
    align-items: baseline;
}

.tong_ttct {
    padding: 0 10px 10px 10px;
    max-height: 380px;
    overflow: overlay;
}

.tong_ttct::-webkit-scrollbar {
    display: none;
}

.author_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
    margin-right: 10px;
}

.author {
    display: flex;
}

/* .ten_tg{
    display: flex;
} */
.ten_author {
    font-weight: 700;
    font-size: 17px;
}

.time_post {
    font-weight: 400;
    font-family: initial;
}

.content_post {
    margin-top: 10px;
    font-family: inherit;
    font-size: medium;
}

/* DEMO */


h2 {
    font-weight: 300;
    margin: 4vh 4vw;
    letter-spacing: 3px;
    color: grey;
    text-transform: uppercase;
}

.demo-btn {
    display: inline-block;
    margin: 0 2.5px 4vh 2.5px;
    text-decoration: none;
    color: grey;
    padding: 15px;
    line-height: 1;
    min-width: 140px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.demo-btn:hover {
    background: rgba(0, 0, 0, 0.12);
}

@media (max-width: 640px) {
    .demo-btn {
        min-width: 0;
        font-size: 14px;
    }
}