<div class="left-side-menu">
    <div class="slimscroll-menu" style='width: 260px'>

        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li>
                    <h2>Menu</h2>
                </li>
                <li>
                    <a class='menu-left' href='/admin'>
                        <i class="fa fa-th-list" style='margin-right: 10px'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class='menu-left' href='/admin/all_profile'>
                        <i class="fas fa-address-card" style='margin-right: 10px'></i>
                        <span>Profiles</span>
                    </a>
                </li>

                <li>
                    <a class='menu-left' href='/admin/all_user'>
                        <i class="fa fa-users" style='margin-right: 10px'></i>
                        <span>users</span>
                    </a>
                </li>
                <li>
                    <a class='menu-left' href='/admin/notification'>
                        <i class="fa fa-bell" style='margin-right: 10px'></i>
                        <span>Notifications</span>
                    </a>
                </li>
                <li>
                    <a class='menu-left' href='/admin/feedback'>
                        <i class="fa fa-leaf" style='margin-right: 10px'></i>
                        <span>Feedbacks</span>
                    </a>

                </li>
            </ul>
        </div>
        <div className="clearfix">
        </div>
    </div>
</div>