{{!-- <div class="container-fluid"> --}}
    <div class="icon">
        <div class="icon-1">
            <ul>
                <li>
                    <i class="fas fa-search" style=' font-size : 35px '></i>
                    <p>Search </p>
                </li>
                <li>
                    <i class="fas fa-wallet" style=' font-size : 35px '> </i>
                    <p>Pricing </p>
                </li>
                <li>
                    <i class="fas fa-life-ring" style=' font-size : 35px '> </i>
                    <p>Help Center </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <a>
                <img class="logo" src="/images/fb.png" />
            </a>
            <div class="footer-right">
                <ul>
                    <li>About</li>
                    <li>Media</li>
                    <li>Terms of service</li>
                    <li>Privacy policy</li>
                </ul>
            </div>
        </div>
        <div class="footer-2">
            <span> @ 2021 Facebook Finder v8.02</span>
            <div class="footer-right1">
                <a>Help center </a>
                <a> Opt-Out Request</a>
            </div>
        </div>
    </div>
{{!-- </div> --}}