{{#section 'css'}}
<link rel="stylesheet" href="/css/blog.css">
{{/section}}

{{#section 'title'}}blog{{/section}}

<div class="blog">
    <div class="blog1">


        <div class="post">

            <img src='/images/b1.jpg' />
            <h2>Photos published without consent: how to find them</h2>
            <p>Read our article to receive some tips regarding the removal of photos published without consent.</p>
        </div>
        <div class="post">

            <img src='/images/b2.jpg' />
            <h2>What data does Finder store?</h2>
            <p>Read our article to receive some tips regarding the removal of photos published without consent.</p>



        </div>
        <div class="post">

            <img src='/images/b3.jpg' />
            <h2>Has your picture been misused in an ad? </h2>
            <p>Read our article to receive some tips regarding the removal of photos published without consent.</p>
        </div>

    </div>

    <div class="blog1">


        <div class="post">

            <img src='/images/b4.jpg' />
            <h2>How to recognize a catfish?</h2>
            <p>Read our article to receive some tips regarding the removal of photos published without consent.</p>
        </div>
        <div class="post">

            <img src='/images/b5.jpg' />
            <h2>How to find my photos on the Internet? </h2>
            <p>Read our article to receive some tips regarding the removal of photos published without consent.</p>



        </div>
        <div class="post">

            <img src='/images/b6.jpg' />
            <h2>Has your picture been misused in an ad? </h2>
            <p>Read our article to receive some tips regarding the removal of photos published without consent.</p>
        </div>

    </div>
</div>