{{#section 'css'}}
<link rel="stylesheet" href="/css/changePassword.css">
{{/section}}

{{#section 'title'}}My Account{{/section}}

{{#section 'javascript'}}
<script src="/ajax/changePassword_ajax.js"></script>
{{/section}}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="register d-flex ">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">

                        <h4 style=" text-align:center" class="display-6">Facebook finder</h4>
                        <br>
                        <form onsubmit="return false">
                            <div id="tb_tong_dung" class="tb_tong alert alert-success" role="alert">
                                Cập Nhật Tài Khoản Thành Công
                            </div>
                            <div id="tb_tong_sai" class="tb_tong alert alert-danger" role="alert">
                                Cập Nhật Tài Khoản Thất Bại
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">User Name</label>
                                <input type="text" class="form-control" name='username' id="txt_username"
                                    placeholder="User Name" readonly="true" value="{{data.username}}" required>
                                <label  id="tb_username" class="tb_check"></label>
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Full Name</label>
                                <input onfocus='an()' type="text" class="form-control" name="fullname" id="txt_name"
                                    placeholder="Full Name" required>
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Email</label>
                                <input type="email" class="form-control" Name="email" id="txt_email" placeholder="Email"
                                    readonly="true" value="{{data.email}}" required>
                                <label  id="tb_email" class="tb_check"></label>
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Current Password</label>
                                <input onfocus='an()' type="Password" class="form-control" name='password'
                                    id="txt_password" placeholder="Current Password" required>
                                <label  id="tb_pass" class="tb_check"></label>
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">New Password</label>
                                <input onfocus='an()' type="Password" class="form-control" name='newpassword'
                                    id="txt_newpassword" placeholder="New Password" required>
                                <label id="tb_newpass" class="tb_check"></label>
                            </div>
                            <div class="form_item">
                                <label for="validationDefault01">Re-Type New Password</label>
                                <input onfocus='an()' type="Password" class="form-control" name='password'
                                    id="txt_checknewpassword" placeholder="Check New Password" required>
                                <label class="tb_check" id="tb_check">Mật Khẩu Không Khớp</label>
                            </div>

                            <div class="btn_doimk">
                                <a href='../../'>
                                    <button type="button" class="btn btn-danger btn-register">Cancel</button>
                                </a>
                                <button onclick="doimk()" type="submit"
                                    class="btn btn-success btn-register">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>