{{#section 'css'}}
<link rel="stylesheet" href="/css/forgotpassword.css">
{{/section}}

{{#section 'title'}}Forgot Password{{/section}}

{{#section 'javascript'}}
<script src="/ajax/forgotpassword_ajax.js"></script>
{{/section}}

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div id="tong_tren" class="col-lg-10 col-xl-7 mx-auto">
                            <h4 class="display-4">Facebook finder</h4>
                            <br>
                            <div id="tb_tong_rsmk" class="alert alert-danger" role="alert">
                               
                            </div>
                            <div id="toankhung">
                                <div class="form-group mb-3">
                                    <input onfocus="an()" id="newpassword" type="password" placeholder="New Password"
                                        required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    <span id="tb_newpw" class="text_tb"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <input onfocus="an()" id="check_newpassword" type="password"
                                        placeholder="Re-Type New Password" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    <span id="tb_checknewp" class="text_tb"> </span>
                                </div>
                                <div class="btn_rsmk">
                                    <button onclick="change_password()"
                                        class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                                        Change
                                    </button>
                                </div>
                            </div>
                            <div class="lienket">
                                <div class="text-center d-flex justify-content-between">
                                    <p>Login<a href="/auth/login" class="font-italic text-muted">
                                            <span class="badge bg-secondary">Login Here</span></a></p>
                                </div>
                                <div class="text-center d-flex justify-content-between">
                                    <p>New User<a href="/auth/register" class="font-italic text-muted">
                                            <span class="badge bg-secondary">Register Here</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>