{{#section 'css'}}
<link rel="stylesheet" href="/css/login.css">
{{/section}}

{{#section 'title'}}Login{{/section}}

{{#section 'javascript'}}
<script src="/ajax/login_ajax.js"></script>
{{/section}}

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h4 class="display-4">Facebook finder</h4>
                            <br>
                            <div>
                                <div id="tb" class="alert alert-danger " role="alert">

                                </div>
                                <div class="form-group mb-3">
                                    <input id="username" type="text" placeholder="User Name" required="" autofocus=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="password" type="password" placeholder="Password" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <div class="kd">
                                    <div class="form-group btn_lg">
                                        <button onclick="login()" type="submit"
                                            class="btn_lglg btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
                                            in</button>
                                    </div>
                                    <div class="tong_lk">
                                        <div class="text-center d-flex justify-content-between">
                                            <p>Forgot Password
                                                <span onclick="hien_qmk()" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal"
                                                    class="sp_quenmk badge bg-secondary">Click Here</span>
                                            <div class="modal fade" id="exampleModal" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div id="noidungmodule" class="modal-content">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Forgot
                                                                Password
                                                            </h5>
                                                            <button onclick="an_qmk()" type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div id="qmk_false">
                                                            <div id="tb_quenmk_false">
                                                                <i class="icon_qmk fas fa-exclamation-triangle"></i>
                                                                <div id="txt_tbqmk_false"> check</div>
                                                            </div>
                                                        </div>
                                                        <div id="qmk_true">
                                                            <div id="tb_quenmk_true">
                                                                <i class="icon_qmk fas fa-check-square"></i>
                                                                <div id="txt_tbqmk_true"> check</div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-body">
                                                            <input onfocus="an_qmk()"
                                                                style="height:46px;background: #dcdcdc;color: #0c69f2;"
                                                                id="username_quen" type="text" placeholder="User Name"
                                                                required="" autofocus=""
                                                                class="form-control rounded-pill border-0  px-4">
                                                        </div>
                                                        <div class="btn_quenmk modal-footer">
                                                            <button onclick="an_qmk()" type="button"
                                                                class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button id="btn_qmk_ctn" onclick="quen_mk()" type="button"
                                                                class="btn_qmk btn btn-primary">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </p>
                                        </div>
                                        <div class="text-center d-flex justify-content-between">
                                            <p>New User<a href="/auth/register" class="font-italic text-muted">
                                                    <span class="badge bg-secondary">Register Here</span></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>