{{#section 'css'}}
<link rel="stylesheet" href="/css/notification.css">
{{/section}}

{{#section 'title'}}Notification{{/section}}

{{#section 'javascript'}}
{{/section}}
<div class="container">
    <h5 class="tieude_n">Notific<span>ation</span></h5>
    <div class="shadow-lg tong_n row">
        <div class="row n__  titel_n">
            <div class="col-lg-3 trai">Title Notification</div>
            <div class="txt_tieude col-lg-9 phai">{{data.tieude}}</div>
        </div>
        <div class="row n__  type_n">
            <div class="col-lg-3 trai">Type Notification</div>
            <div class="col-lg-9 phai">{{{phan_loai data.loai}}}</div>
        </div>
        <div class="row n__  date_n">
            <div class="col-lg-3 trai">Date Notification</div>
            <div class="txt_date col-lg-9 phai">{{data.thoigian}}</div>
        </div>
        <div class="row n__  content_n">
            <div class="col-lg-3 trai">Content Notification</div>
            <div class="col-lg-9 phai">{{data.noidung}}</div>
        </div>
        <div class="row n__  content_n">
            <div class="btn_n">
                <a href="./home"><button class="btn btn-primary">Finished Reading</button></a>
            </div>
        </div>
    </div>
</div>