<div>

    <div class='content'>
        <div class='wapper'>
          
            <img class='img-detail' src='{{data.avt_imgs.[1]}}' />
            
            <div class='info'>
                <ul>
                    <li>{{data.name}}</li>
                     <li>
                        <i class="fas fa-user"></i> Link facebook:
                        <span> {{data.link}} </span>
                    </li>
                    <li> <i class="fas fa-envelope-open-text"></i> Email :
                        <span> abc@gmail.com</span>

                    </li>
                    <li>
                        <i class="fas fa-phone"></i> Điện thoại :
                        <span> (024) 6680 5588 </span>
                    </li>
                    <li>
                        <i class="fas fa-user"></i> Giới tính :
                        <span> Nữ </span>
                    </li>
                    <li>
                        <i class="fas fa-calendar-times"></i> Ngày sinh :
                        <span> 01/01/1990</span>
                    </li>
                    <li>
                        <i class="fas fa-home"></i> Địa chỉ :
                        <span> {{data.address.[0]}}</span>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</div>